@use "/src/styles/svg";
@use "/src/styles/variables.module";

.commentButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;

  @include svg.svg-styles;
}

.commentIcon {
  display: inline-block;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
  cursor: pointer;
  color: variables.$comment-color;

  &:hover {
    transform: scale(1.1);
  }
}
