.commentButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  outline: none;
  width: 45px;
  height: 45px;
  outline: none;

  &:focus,
  &:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  &:focus-visible {
    outline: 2px solid rgba(138, 43, 226, 0.5);
    border-radius: 50%;
  }
}

.commentIcon {
  display: inline-block;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
  cursor: pointer;
  color: #3b3b3b;

  &:hover {
    transform: scale(1.1);
  }
}
