@use "/src/styles/fonts";

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fffdf0;
  border-radius: 25px;
  border: solid 1px #a3a088;
  gap: 15px;
  box-shadow: 0 4px 12px rgba($color: #000000, $alpha: 1);
  height: auto;
  padding-block: 10px 15px;
}

.headerContainer,
.infoContainer,
.footerContainer {
  padding-inline: 15px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: auto;
  justify-content: space-between;
}

.authorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-width: 70%;
  margin-top: 10px;
}

.authorName {
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.authorImage {
  border-radius: 50%;
  border: 1px solid #111111;
  width: 40px;
  height: 40px;
}

.date {
  font-size: 13px;
}

.mainContainer {
  width: 100%;
}

.memeImage {
  width: 100%;
  display: block;
}

.title {
  font-size: 20px;
  font-family: "JetBrains_Bold";
  text-decoration: underline;
}

.description {
  font-size: 15px;
}

.readContinue {
  font-family: "JetBrains_Bold";
  color: #8a2be2;
  font-size: 17px;
  cursor: pointer;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 5px;
}

.footerIconConrainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.likes {
  color: #8a2be2;
  font-size: 18px;
}

.comments {
  font-size: 18px;
}

@media (min-width: 768px) {
  .headerContainer,
  .infoContainer,
  .footerContainer {
    padding-inline: 25px;
  }

  .authorInfo {
    margin-top: 15px;
    gap: 20px;
  }

  .authorName {
    font-size: 22px;
  }

  .authorImage {
    width: 60px;
    height: 60px;
  }

  .date {
    font-size: 15px;
  }

  .title {
    font-size: 25px;
  }

  .description {
    font-size: 18px;
  }

  .readContinue {
    font-size: 20px;
  }

  .footerContainer {
    padding-left: 20px;
  }

  .likes,
  .comments {
    font-size: 20px;
  }
}
