$main-yellow-color: #f8ef43;
$secondary-yellow-color: #fffdde;
$third-yellow-color: #fffdf0;
$main-purple-color: rgb(138, 43, 226);
$secondary-purple-color: #9041da;
$placeholder-color: #707070;
$text-color: #000;

$main-border-color: #a3a088;
$main-orange-color: #ff9800;

$comment-color: #3b3b3b;
$background-color: #f9f9f9;
$orange-a-color: #b36f09;
$ative-orange-a-color: #8a5404;
$active-button-color: #fdf55f;
$design-yellow-color: #fffdda;

$form-border-color: #fffdda;

:export {
  mainYellow: $main-yellow-color;
  mainPurple: $main-purple-color;
  mainOrange: $main-orange-color;
  secondaryPurple: $secondary-purple-color;
  activeButtonColor: $active-button-color;
  textColor: $text-color;
  bg: $background-color;
  textPlaceholder: $placeholder-color;

  border: $main-border-color;
  orange: $orange-a-color;
  activeOrange: $ative-orange-a-color;
  background: $design-yellow-color;
}
