$main-yellow-color: #fff872;
$secondary-yellow-color: #fffdde;
$third-yellow-color: #fffdf0;
$main-purple-color: #8a2be2;
$secondary-purple-color: #9041da;
$main-border-color: #a3a088;
$second-border-color: #787878;
$dark-border-color: #111111;
$a-color: #535bf2;
$comment-color: #3b3b3b;
