@use "/src/styles/svg";

.heartButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;

  @include svg.svg-styles;
}

.heartIcon {
  fill: transparent;
  stroke: #8a2be2;
  stroke-width: 2px;
  transition:
    fill 0.3s ease,
    stroke 0.3s ease,
    transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &.liked {
    fill: #8a2be2;
    stroke: #8a2be2;
  }

  &:active {
    transform: scale(0.9);
  }
}
