.background {
  background-image: url("./assets/notfound.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  animation: fadeIn 1.5s forwards;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
