.asideContainer {
  width: 280px;
  height: auto;
  max-height: 300px;
  background-color: #fffdde;
  border-radius: 20px;
  border: 2px solid #787878;
  position: sticky;
  z-index: 1000;
  top: 20%;
  margin-left: 40px;
  padding: 20px;
}

.ulList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ulList a {
  color: #000;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  &:hover {
    color: #535bf2;
  }
}

.icon {
  width: 30px;
}

@media (min-width: 1200px) {
  .asideContainer {
    width: 360px;
    padding: 25px;
    margin-left: 60px;
  }

  .ulList a {
    font-size: 20px;
    gap: 20px;
  }

  .icon {
    width: 35px;
  }
}
